extends layout

block content   
    h1= title

    ul
        each user in userList
            li
                a(href=user.url) #{user.name}
                |   (#{user.email} - #{user.dateOfBirthStr})
        else
            li There are no users